.toastbox-wrapper {
  position: fixed;
  top: 100px;
  z-index: 99999999999;
  height: 0;
  text-align: right;
}

.toastbox-content {
  display: none;
  text-align: left;
  position: relative;
  /*animation: fade--in 0.5s ease-in; */
  /*animation: fade 2s forwards; */
  animation: fade-in-down 9s forwards;
  /*transition: 1s ease-in-out;*/
  height: 100%;
  width: 290px;
}

.toastbox-content.move-down {
  transform: translate(0,3em);
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate(0,0);
  }

  50% {
    transform: translate(0,4.5em);
    opacity: 1;
  }

  100% {
    transform: translate(0,9em);
    opacity: 0;
  }
}

@keyframes fade--in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.toastbox-content {
  div {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    margin-top: 20px;
    margin-right: 20px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    line-height: 28px;
    opacity: 0.95;
    transform: translate(0,0);
  }
}

.toastbox-content.error div{
  background-color: #c74b4b;
  color: white;

}

.toastbox-content.success div{
  background-color: #2bb77e;
  color: white;
}

.toastbox-content.notice div{
  background-color: #b7b7b7;
  color: white;;
}


.toastbox-content.show {
  display: inline-block;
}
