.business-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 37px);
  width: 541px;
  margin: 0 auto;

  form {
    width: 100%;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label.form-control-label {
    text-align: left;
  }
  
  input.form-control-input  {}
  
  input.form-control-input, select {
    padding: 10px 5px;
    border: solid 1px #e6e6e6;
    border-radius: 2px;
  }

  .name-control {
    position: relative;
  }

  .business-tip {
    display:none;
    content:'';
    position:absolute;
    text-align: left;
    top:30%;
    right:-60%;
    padding:10px;
    background:#dfe5e8;
    color:#252b33;
    z-index:9;
    font-size: 0.75em;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
  }
  
  .name-control:hover .business-tip {
    display:block;
  }

  /*.business-tip:hover:before,
  .business-tip:hover:after {
    display:block;
  } */
}
